<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!-- SITE NAVIGATION -->
     <div class="container">
        <div id="nav">
          {% block nav %}
            <h1><a href="/">My Web App</a></h1>
            <ul>
              <li><a href="/books">Books Page</a></li>
              <li><a href="/books/new">New Book Form</a></li>
            </ul>
          {% endblock %}
        </div>
        <hr>
  
        <!-- PAGE CONTENTS -->
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
  
        <!-- FOOTER -->
        <div id="footer">
          <hr>
          &copy; Copyright 2020 [YOUR NAME HERE!] |
          <a href="https://github.com/YOUR_NAME/YOUR_REPO">source</a>
        </div>
      </div>
</body>
</html>